.board-game{

    height: 70vh;
    min-height: 500px;
    box-sizing: border-box;
    padding: 2rem 3rem 5rem 3rem;
    background: url(../../../assets/img/top-board.png) no-repeat center center;

    @media (max-width: 1270px) {
        height: 60vh;
        min-height: inherit;
    }

    .infos{
        p{
            font-size: 1.3rem;
            color: #fff;

            @media (max-width: 1270px) {
                font-size: 3vw;
            }
        }

        app-weather{
            @media (max-width: 1270px) {
                display: none;
            }
        }

        @media (max-width: 1270px) {
            justify-content: flex-start;
        }
    }

    .numbers {
        text-align: right;
        font-family: 'Schoolbell', cursive !important;
        font-size: 12.5rem;
        color: #fff;
        font-weight: bold;
        margin-top: 6rem;

        /* Effet craie */
        text-shadow: 0 0 2rem rgba($color: #fff, $alpha: .1);

        input {
            border: none;
            height: 100%;
            max-width: 500px;
            float: left;
            background: transparent;
            font-family: 'Schoolbell', cursive !important;
            font-size: 12.5rem;
            color: #fff;
            font-weight: bold;
            border-bottom: 10px solid #fff;

            @media (max-width: 1270px) {
                max-width: 90%;
                font-size: 12vw;
            }

            &.error {
                color: rgb(217, 79, 79);
                border-bottom: 10px solid rgb(217, 79, 79);
            }
        }

        @media (max-width: 1270px) {
            font-size: 12vw;
        }
    }
}

.middle{
    width: 100%;
    height: 60px;
    background: url(../../../assets/img/middle-board.png) no-repeat center center;
}
