<div class="flex">
    <div class="flex-auto">
        <div class="bloc">
            <div class="inline-block">{{score}} points </div>
            <div class="inline-block ml-1" [ngClass]="{'one-more': oneMoreAnimation}"><fa-icon [icon]="thumbsUp"></fa-icon></div>
            <div class="reccord">
                Record : {{record}} points
            </div>
        </div>
    </div>

    <button class="bloc button flex-auto new-game" (click)="newGame()">
        <fa-icon [icon]="faCalculator"></fa-icon> {{ 'new-game' | translate }}
    </button>

  <div class="bloc level">
    <div class="flex" style="align-items: center; justify-content: center; flex-direction: column" (click)="changeLevel()">
      <div>
        Difficulté
      </div>
      <div>
        <span>{{ levelValue }}</span>
      </div>
    </div>
  </div>

  <div class="bloc mode flex" style="align-items: center; justify-content: center;" >
    <div (click)="changeMode()" style="min-width: 80px">
      <div style="font-size: 50px">{{ modeValue === 'addition' ? '+' : '-' }}</div>
    </div>
  </div>
</div>
